<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* メールのスタイル */
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <%= yield %>
    <hr>
    <p>© <%= Time.current.year %> お魚カレンダー</p>
  </body>
</html>