<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
    <hr>
    <p>※このメールは送信専用です。返信はできませんのでご了承ください。</p>
  </body>
</html>